<!DOCTYPE html>
<html lang="en">
<head>
    <title>PHPOO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="App/Templates/styles.css" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.php">PHP Programando com Orientação a Objetos</a>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="container">
        <!-- upper section -->
        <div class="row">
            <div class="col-sm-3">
                <!-- left -->
                <h3><i class="glyphicon glyphicon-briefcase"></i> Menu </h3>
                <hr>

                <ul class="nav nav-stacked">
                    <li><a href="javascript:;"><i class="glyphicon glyphicon-flash"></i> Alerts</a></li>
                    <li><a href="javascript:;"><i class="glyphicon glyphicon-link"></i> Links</a></li>
                    <li><a href="javascript:;"><i class="glyphicon glyphicon-list-alt"></i> Reports</a></li>
                    <li><a href="javascript:;"><i class="glyphicon glyphicon-book"></i> Books</a></li>
                </ul>

            </div>
            <!-- /span-3 -->
            <div class="col-sm-9">

                <!-- column 2 -->
                <h3><i class="glyphicon glyphicon-dashboard"></i> Dashboard</h3>

                <hr>

                <div class="row">
                    <!-- center left-->
                    <div class="col-sm-9">
                       sdf
                    </div>
                    <!--/col-->
                </div>
                <!--/row-->
            </div>
            <!--/col-span-9-->

        </div>
        <!--/row-->
        <!-- /upper section -->

        <!-- lower section -->
        <div class="row">

            <div class="col-md-12">
                <hr>
                <a href="#"><strong><i class="glyphicon glyphicon-list-alt"></i> Reports</strong></a>
                <hr>
            </div>
            <div class="col-md-8">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Visits</th>
                            <th>ROI</th>
                            <th>Source</th>
                            <th>Description and Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>45</td>
                            <td>2.45%</td>
                            <td>Direct</td>
                            <td>Sam sapien massa, aliquam in cursus ut, ullamcorper in tortor. Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</td>
                        </tr>
                        <tr>
                            <td>289</td>
                            <td>56.2%</td>
                            <td>Referral</td>
                            <td>After RWD massa, aliquam in cursus ut, ullamcorper in tortor. Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="glyphicon glyphicon-wrench pull-right"></i>
                            <h4>Submit Request</h4>
                        </div>
                    </div>
                    <div class="panel-body">

                        <form class="form form-vertical">
                            <div class="control-group">
                                <label>Name</label>
                                <div class="controls">
                                    <input type="text" class="form-control" placeholder="Enter Name">
                                </div>
                            </div>
                            <div class="control-group">
                                <label>Title</label>
                                <div class="controls">
                                    <input type="password" class="form-control" placeholder="Password">

                                </div>
                            </div>
                            <div class="control-group">
                                <label>Details</label>
                                <div class="controls">
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label>Select</label>
                                <div class="controls">
                                    <select class="form-control">
                                        <option>General Question</option>
                                        <option>Server Issues</option>
                                        <option>Billing Question</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label></label>
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary">
                                        Post
                                    </button>
                                </div>
                            </div>

                        </form>


                    </div>
                    <!--/panel content-->
                </div>
                <!--/panel-->

            </div>
            <!--/col-->

        </div>
        <!--/row-->

    </div>
    <!--/container-->
    <!-- /Main -->
</body>

</html>